body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0b0b0b; /* velvet black */
  font-family: "Poppins", sans-serif;
  color: white;
}

#loader-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.4);
	display: none;
	align-items: center;
	justify-content: center;
	z-index: 9999;
}

#loader {
	display: none;
	width: 60px;
	aspect-ratio: 2;
	--_g: no-repeat radial-gradient(circle closest-side, #125b9a 90%, #0000);
	background:
		var(--_g) 0% 50%,
		var(--_g) 50% 50%,
		var(--_g) 100% 50%;
	background-size: calc(100% / 3) 50%;
	animation: l3 1s infinite linear;
}

@keyframes l3 {
	20% {
		background-position: 0% 0%, 50% 50%, 100% 50%;
	}
	40% {
		background-position: 0% 100%, 50% 0%, 100% 50%;
	}
	60% {
		background-position: 0% 50%, 50% 100%, 100% 0%;
	}
	80% {
		background-position: 0% 50%, 50% 50%, 100% 100%;
	}
}

.swal2-input {
  margin: 0.5rem 0;
  margin-left: 1rem;
} 